.call-to-action
  width: 100%
  background: #c4c4c4
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  white-space: pre-line
  overflow: hidden
  z-index: 1
  h2
    font-family: 'Roboto', sans-serif;
    font-size: 3.2em;
    color: white
    width: 75%
    padding-top: 100px
    z-index: 10
