.call-to-action
  width: 100%
  background: #c4c4c4
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 500px
  h2
    color: white
    width: 75%
    padding-top: 100px
    z-index: 10
  img
    position: absolute
    z-index: 5
    height: 500px
