.benefits
  width: 100%
  background: white
  padding: 100px 0
  h2
    padding: 10px 0
    color: #514544
  .benefit
    color:#fcaf5d
    padding: 50px 100px
    display: flex
  p
    padding-top: 20px
  .content
    width: 80%
  img
    width: 50%
  .icon
    width: 25%
    display: flex
    align-items: center
    .number
      margin-left: 45px
      font-size: 5em
      font-family: 'Gotham', Futura, sans-serif
      color: #F2994A
