.benefits
  width: 100%
  background: white
  padding: 100px 0
  h2
    padding: 10px 0
    color: #50454F
  .benefit
    padding: 50px 100px
    @media all and (max-width: 1500px)
      padding: 50px 10px
    display: flex
    justify-content: space-around
  p
    padding-top: 20px
  .content
    h3
      color:#5D505C
    width: 80%
    margin-right: 100px
    @media all and (max-width: 1500px)
      width: 60%
  img
    width: 50%
  .icon
    width: 25%
    display: flex
    align-items: center
    margin-left: 100px
    .number
      margin-left: 70px
      font-size: 5em
      font-family: 'Gotham', Futura, sans-serif
      color: #5D505C
