.speakers
  padding: 100px 0
  width: 100%
  background: white
  display: grid
  grid-template-columns: repeat(3, 3fr)
  grid-row-gap: 100px
  justify-items: center
  h3
    font-size: 18pt
    color: #514544
    text-align: center
    padding-top: 20px
  .speaker
    width: 60%
    img
      width: 100%
