.speakers-container
  background: #fefafa
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  h2
    width: 50%
    padding: 100px 0
  .speakers
    padding: 100px 0
    width: 100%
    background: white
    display: grid
    grid-template-columns: repeat(3, 3fr)
    grid-row-gap: 100px
    justify-items: center
    h3
      font-size: 1.3em
      font-weight: 100
      text-align: center
      padding-top: 20px
    p
      font-family: 'Helvetica'
      padding-top: 10px
      font-size: 1.2em
      line-height: 1.2em
      color: #837E83
    .speaker
      width: 60%
      img
        width: 100%
